django
gunicorn
django-heroku
django-polymorphic
pymongo[srv]
sqlparse
django-anymail[mailgun]
django-crispy-forms
django-icons
python-decouple
django-active-link
social-auth-app-django
six
django-waffle
