{% extends "calc/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="bg-white col-sm-10 col-md-9 col-lg-7 mx-auto">
      <div class="content-section">
        <div class="media">
          <div class="media-body">
            <h2 class="account-heading">{% trans "Forgot password" %}</h2>
            <p class="text-secondary">{{ user.email }}</p>
          </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">{% trans "submit" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
