{% extends "calc/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}

{% trans "Sign Up" %}

{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'calc/style.css' %}">
<link rel="stylesheet" href="{% static 'calc/css/content.css' %}">
{% endblock %}
{% block body %}

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
  <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">

          <h2 class="card-title text-center">{% trans "Sign up" %}</h2>
          <form method="post" class="form-signin">
            {% csrf_token %}
            <div class="form-label-group">
              <input type="text" name="username" maxlength="150"
              autocapitalize="none" autocomplete="username" autofocus=""
              required id="id_username" class="form-control"
              placeholder="{% trans 'Letters, digits and @/./+/-/_ only.' %}">
              <label for="id_username">{% trans 'Username:' %}</label>

            </div>
            <div class="form-label-group">
              <input type="password" name="password1" class="form-control"
              autocomplete="new-password" required id="id_password1"
              placeholder="{% trans 'min 8 characters. Strong password required' %}">
              <label for="id_password1">{% trans 'Password:' %}</label>
            </div>
            <div class="form-label-group">
              <input type="password" name="password2" class="form-control"
              autocomplete="new-password" required
              id="id_password2" placeholder="{% trans 'Enter the same password' %}">
              <label for="id_password2">{% trans 'Password confirmation:' %}</label>

            </div>
            <div class="form-label-group">
              <input type="email" name="email" maxlength="150"
              autocapitalize="none" autocomplete="email" autofocus=""
              required id="id_email" class="form-control"
              placeholder="{% trans 'Enter email' %}">
              <label for="id_email">{% trans 'Email:' %}</label>

            </div>
            <div class="form-label-group">
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans "Sign up" %}</button>
            </div>
          </form>
          <form class="form-signin">
            <div class="form-label-group">
              <a class="btn btn-lg btn-primary btn-block" href="{% url 'social:begin' 'facebook' %}">
                {% trans "Login with Facebook" %}
              </a>
            </div>
            <div class="form-label-group">
              <a class="btn btn-lg btn-info btn-block" href="{% url 'social:begin' 'linkedin-oauth2' %}">
                {% trans "Login with LinkedIn" %}
              </a>
            </div>
          </form>
          <a href="{% url 'login' %}">{% trans 'Already registered' %}</a>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
