{% extends "calc/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}

  {% trans "Sign Up" %}

{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'calc/style.css' %}">
<link rel="stylesheet" href="{% static 'calc/css/content.css' %}">
{% endblock %}
{% block body %}

{% if form.errors %}
<p>{{form.errors}}</p>
{% endif %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">

          <h2 class="card-title text-center">{% trans "Sign up" %}</h2>
          <form method="post">
            {% csrf_token %}
            <div class="form-label-group">
              <label for="id_username">{% trans 'Username:' %}</label>
              <input type="text" name="username" maxlength="150"
              autocapitalize="none" autocomplete="username" autofocus=""
              required="" id="id_username" class="form-control"
              placeholder="{% trans 'Letters, digits and @/./+/-/_ only.' %}">
            </div>
            <div class="form-label-group">
             <label for="id_password1">{% trans 'Password:' %}</label>
               <input type="password" name="password1" class="form-control"
               autocomplete="new-password" required="" id="id_password1"
               placeholder="{% trans 'min 8 characters. Strong password required' %}">
            </div>
            <div class="form-label-group">
             <label for="id_password2">{% trans 'Password confirmation:' %}</label>
               <input type="password" name="password2" class="form-control"
               autocomplete="new-password" required=""
               id="id_password2" placeholder="{% trans 'Enter the same password' %}">
            </div>
            <br />
            <div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans "Sign up" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}
