{% extends 'calc/base.html' %}
{% load static %}
{% load i18n %}
{% load calc_extras %}


{% block title %}
  {% trans "Calculation" %} | {{ calculation.name}}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'calc/css/content.css' %}">
{% endblock %}

{% block body %}
<h1> {% trans "Calculation name:" %}{{ calculation.name }}</h1>
    {% trans "Deceased name:" %} {{ calculation.deceased_set.first.first_name }} <br />
    {% trans "Deceased estate:" %} {{ calculation.deceased_set.first.estate }}

<ol>
{% for heir in calculation.heir_set.all %}
<li>
  <ul>
    <li>{% trans "Heir Name:" %}{{ heir.first_name }}</li>
    <li>{% trans "Heir Class:" %}{{ heir|get_class }}</li>
  </ul>
</li>
{% endfor %}
</ol>
{% endblock %}
