{% extends "calc/base.html" %}
{% load static %}
{% load i18n %}
{% load calc_extras %}
{% load icons %}
{% load waffle_tags %}

{% block title %}
{% trans "Calculation" %} | {{ calculation.name}}
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-9 col-lg-7 mx-auto">
      <div class="card card-index my-5">
        <div class="card-header">
          {% trans "Calculation name:" %}{{ calculation.name }}
          <a
          class="float-right btn btn-primary a-btn-slide-text"
          href="{% url 'calc:calc_update' calculation.id %}"
          >
          <span>{% icon 'edit' %}</span>
        </a>
      </div>
      <div class="card-body">
        {% if calculation.deceased_set.count != 0 %}
        <div class="card text-white bg-secondary mb-3">
          <div class="card-header">
            {% trans "Deceased" %}
            <a
            href="{% url 'calc:deceased_delete' calculation.deceased_set.first.id %}"
            class="float-right btn btn-primary a-btn-slide-text">
            <span>{% icon 'trash-o' %}</span>
          </a>
          <a
          class="float-right btn btn-primary a-btn-slide-text"
          href="{% url 'calc:deceased_update' calculation.deceased_set.first.id %}"
          >
          <span>{% icon 'edit' %}</span>
        </a>

        {% switch "new_results" %}
        <a class="float-right btn btn-primary a-btn-slide-text" href="{% url 'calc:new_results' calculation.id %}">
        <span>{% icon 'calculator' %}</span>
        </a>
        {% else %}
        <a class="float-right btn btn-primary a-btn-slide-text" href="{% url 'calc:results' calculation.id %}">
        <span>{% icon 'calculator' %}</span>
        </a>
        {% endswitch %}

    </div>
    <div class="card-body">

      {% trans "Deceased name:" %} {{ calculation.deceased_set.first.first_name }} <br />
      {% trans "Deceased estate:" %} {{ calculation.deceased_set.first.estate }}
    </div>
    <div class="card-footer">
      {% if Mother.count == 0 %}
      <button type="button" class="btn btn-primary" data-toggle="modal"
      data-target="#add" data-name="Mother" data-heir="{% trans 'Mother' %}"
      data-url="{% url 'calc:mother' calculation.id %}">
      {% icon 'plus' %}{%trans ' Mother' %}
    </button>
    {% endif %}
    {% if Father.count == 0 %}
    <button type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#add" data-name="Father" data-heir="{% trans 'Father' %}"
    data-url="{% url 'calc:father' calculation.id %}">
    {% icon 'plus' %}{%trans ' Father' %}
  </button>
  {% endif %}
  {% if calculation.deceased_set.first.sex == "M" and Wife.count < 4 %}
  <button type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#add" data-name="Wife" data-heir="{% trans 'Wife' %}"
  data-url="{% url 'calc:wife' calculation.id %}">
  {% icon 'plus' %}{%trans ' Wife' %}
</button>
{% endif %}
{% if calculation.deceased_set.first.sex == "F" and Husband.count == 0 %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="Husband" data-heir="{% trans 'Husband' %}"
data-url="{% url 'calc:husband' calculation.id %}">
{% icon 'plus' %}{%trans ' Husband' %}
</button>
{% endif %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="Daughter" data-heir="{% trans 'Daughter' %}"
data-url="{% url 'calc:daughter' calculation.id %}">
{% icon 'plus' %}{%trans ' Daughter' %}
</button>
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="Son" data-heir="{% trans 'Son' %}"
data-url="{% url 'calc:son' calculation.id %}">
{% icon 'plus' %}{%trans ' Son' %}
</button>

{% flag "more_heirs" %}
<button type="button" class="btn btn-primary" data-toggle="collapse"
data-target="#more_heirs">
{% icon 'plus' %}{%trans ' more' %}
</button>
<div class="collapse" id="more_heirs">
{% endflag %}

{% flag "Brother" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="Brother" data-heir="{% trans 'Brother' %}"
data-url="{% url 'calc:brother' calculation.id %}">
{% icon 'plus' %}{%trans ' Brother' %}
</button>
{% endflag %}
{% flag "Sister" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="Sister" data-heir="{% trans 'Sister' %}"
data-url="{% url 'calc:sister' calculation.id %}">
{% icon 'plus' %}{%trans ' Sister' %}
</button>
{% endflag %}
{% flag "GrandFather" %}
{% if GrandFather.count == 0 %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="GrandFather" data-heir="{% trans 'Grandfather' %}"
data-url="{% url 'calc:grandFather' calculation.id %}">
{% icon 'plus' %}{%trans ' Grandfather' %}
</button>
{% endif %}
{% endflag %}
{% flag "GrandMother" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="GrandMother" data-heir="{% trans 'Grandmother' %}"
data-url="{% url 'calc:grandMother' calculation.id %}">
{% icon 'plus' %}{%trans ' Grandmother' %}
</button>
{% endflag %}


{% flag "SonOfSon" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="SonOfSon" data-heir="{% trans 'Son of son' %}"
data-url="{% url 'calc:sonOfSon' calculation.id %}">
{% icon 'plus' %}{%trans ' Son of son' %}
</button>
{% endflag %}


{% flag "DaughterOfSon" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="DaughterOfSon" data-heir="{% trans 'Daughter of son' %}"
data-url="{% url 'calc:daughterOfSon' calculation.id %}">
{% icon 'plus' %}{%trans ' Daughter of son' %}
</button>
{% endflag %}

{% flag "PaternalHalfSister" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="PaternalHalfSister" data-heir="{% trans 'Paternal sister' %}"
data-url="{% url 'calc:paternalHalfSister' calculation.id %}">
{% icon 'plus' %}{%trans ' Paternal sister' %}
</button>
{% endflag %}

{% flag "PaternalHalfBrother" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="PaternalHalfBrother" data-heir="{% trans 'Paternal brother' %}"
data-url="{% url 'calc:paternalHalfBrother' calculation.id %}">
{% icon 'plus' %}{%trans ' Paternal brother' %}
</button>
{% endflag %}

{% flag "MaternalHalfSister" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="MaternalHalfSister" data-heir="{% trans 'Maternal sister' %}"
data-url="{% url 'calc:maternalHalfSister' calculation.id %}">
{% icon 'plus' %}{%trans ' Maternal sister' %}
</button>
{% endflag %}

{% flag "MaternalHalfBrother" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="MaternalHalfBrother" data-heir="{% trans 'Maternal brother' %}"
data-url="{% url 'calc:maternalHalfBrother' calculation.id %}">
{% icon 'plus' %}{%trans ' Maternal brother' %}
</button>
{% endflag %}

{% flag "SonOfBrother" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="SonOfBrother" data-heir="{% trans 'Son of brother' %}"
data-url="{% url 'calc:sonOfBrother' calculation.id %}">
{% icon 'plus' %}{%trans ' Son of brother' %}
</button>
{% endflag %}


{% flag "SonOfPaternalBrother" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="SonOfPaternalBrother" data-heir="{% trans 'Son of paternal brother' %}"
data-url="{% url 'calc:sonOfPaternalBrother' calculation.id %}">
{% icon 'plus' %}{%trans ' Son of paternal brother' %}
</button>
{% endflag %}

{% flag "Uncle" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="Uncle" data-heir="{% trans 'Uncle' %}"
data-url="{% url 'calc:uncle' calculation.id %}">
{% icon 'plus' %}{%trans ' Uncle' %}
</button>
{% endflag %}

{% flag "PaternalUncle" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="PaternalUncle" data-heir="{% trans 'Paternal uncle' %}"
data-url="{% url 'calc:paternalUncle' calculation.id %}">
{% icon 'plus' %}{%trans ' Paternal uncle' %}
</button>
{% endflag %}

{% flag "SonOfUncle" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="SonOfUncle" data-heir="{% trans 'Son of uncle' %}"
data-url="{% url 'calc:sonOfUncle' calculation.id %}">
{% icon 'plus' %}{%trans ' Son of uncle' %}
</button>
{% endflag %}

{% flag "SonOfPaternalUncle" %}
<button type="button" class="btn btn-primary" data-toggle="modal"
data-target="#add" data-name="SonOfPaternalUncle" data-heir="{% trans 'Son of paternal uncle' %}"
data-url="{% url 'calc:sonOfUncle' calculation.id %}">
{% icon 'plus' %}{%trans ' Son of paternal uncle' %}
</button>
{% endflag %}
</div>
</div>
</div>
{% else %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add" data-name="Deceased" data-heir="{% trans 'Deceased' %}" data-url="{% url 'calc:deceased' calculation.id %}">{%trans 'Add Deceased' %}</button>
{% endif %}


<table class="table table-bordered table-hover table-sm table-light" cellpadding="4" cellspacing="4" {% if LANGUAGE_BIDI %} dir="rtl" {% endif %}>
  <thead class="thead-light">
    <tr>
      <th scope="col">{%trans "Relation" %}</th>
      <th scope="col">{%trans "Name" %}</th>
    </tr>
    {% for heir in Heirs %}
    <tr>
      <td>{{heir|get_class}}</td>
      <td>{{heir.first_name}} {{heir.last_name}}
        <a
        href="{% url 'calc:heir_delete' heir.id %}"
        class="float-right btn btn-primary a-btn-slide-text">
        <span>{% icon 'trash-o' %}</span>
      </a>

      <a
      class="float-right btn btn-primary a-btn-slide-text"
      href="{% url 'calc:heir_update' heir.id %}"
      >
      <span>{% icon 'edit' %}</span></td>
    </tr>
    {% endfor %}
  </thead>
</table>



<!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="modal-form" action="" method="post">
        {% csrf_token %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{% trans 'Add' %}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="first_name" class="col-form-label">{% trans 'First Name:' %}</label>
            <input type="text" class="form-control" id="first_name" name="first_name">
          </div>
          <div class="form-group">
            <label for="last_name" class="col-form-label">{% trans 'Last Name:' %}</label>
            <input type="text" class="form-control" id="last_name" name="last_name">
          </div>
          <div id= "sex-form-group" class="form-group">
            <label for="sex" class="col-form-label">{% trans 'Sex:' %}</label>
            <select id="sex" name="sex"class="form-control">
              <option value='M' selected>{% trans 'Male' %}</option>
              <option value='F'>{% trans 'Female' %}</option>
            </select>
          </div>
          <div id="estate-form-group" class="form-group">
            <label for="estate" class="col-form-label">{% trans 'Estate:' %}</label>
            <input type="text" class="form-control" id="estate" name="estate">
          </div>
          {% if Wife.count > 0 %}
          <div id="mother-form-group" class="form-group" >
            <label for="mother" class="col-form-label">{% trans 'Mother:' %}</label>
            <select class="form-control" id="mother" name="mother">
              <option value="">
                {% trans '--- Select Mother ---' %}
              </option>
              {% for mother in Wife %}
              {% if forloop.counter == 1%}
              <option selected value="{{ mother.pk }}">
              {% else %}
              <option value="{{ mother.pk }}">
                {{ mother.first_name }}
              {% endif %}
              </option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          <button type="submit" class="btn btn-primary">{% trans 'Add' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  $('#add').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var url = button.data('url') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('#modal-form').attr('action', url)
    if (button.data('name') != 'Deceased') {
      $('#estate-form-group').css('display','none');
      $('#sex-form-group').css('display','none');
    }
    else {
      $('#estate-form-group').css('display','block');
      $('#sex-form-group').css('display','block');
    }
    if (button.data('name') != 'Daughter' && button.data('name') != 'Son'  ){
      $('#mother-form-group').css('display','none');
    }
    else {
      $('#mother-form-group').css('display','block');
    }
  })
</script>
{% endblock %}
