{% extends "calc/base.html" %}
{% load static %}
{% load i18n %}
{% load icons %}

{% block title %}

{% trans "Home" %}

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'calc/css/content.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-9 col-lg-7 mx-auto">
      <div class="card card-index my-5">
        <div class="card-body">
          <h5 class="card-title text-center">{% trans "Create new calculation"%}</h5>
          <form class="form-signin" action="{% url 'calc:new' %}" method="post">
            {% csrf_token %}
            <div class="form-label-group">
              <input id="name" type="text" name="name" placeholder="{% trans 'Name your Calculation' %}" class="form-control"> </input>
              <label for="name">{% trans "Calculation name" %}</label>
            </div>
            <input class="btn btn-primary" type="submit" name="next" value="{% trans 'Submit and continue' %}"></input>
            <input class="btn btn-primary float-right" type="submit" name="stay" value="{% trans 'Save and add another' %}"></input>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class=container>
  <ul class="list-group">
    {% if calculation_list %}
    {% for calculation in calculation_list %}
    <li class="list-group-item">
      <a href="{% url 'calc:results' calculation.id %}">
        {{calculation.name}}
      </a>
        <a href="{% url 'calc:delete' calculation.id %}"
        class="float-right btn btn-primary a-btn-slide-text">
          <span>{% icon 'trash-o' %}</span>
        </a>
        <a href="{% url 'calc:detail' calculation.id %}"
        class="float-right btn btn-primary a-btn-slide-text">
          <span>{% icon 'edit' %}</span>
        </a>
    </li>
    {% endfor %}
    {% else %}
    <li class="list-group-item">No calculation available.</li>
    {% endif %}
  </ul>
</div>

</div>
{% endblock %}
