{% extends "calc/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}

  {% trans "Home" %}

{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'calc/style.css' %}">
<link rel="stylesheet" href="{% static 'calc/css/content.css' %}">
{% endblock %}

{% block body %}
{% if calculation_list %}
  <ul>
    {% for calculation in calculation_list %}
      <li>
          <a href="{% url 'calc:detail' calculation.id %}"> {{calculation.name}}</a>
          <a href="{% url 'calc:delete' calculation.id %}"> {% trans "delete" %}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
    <p>No calculation available.</p>
{% endif %}
<h2> {% trans "Create new calculation"%}</h2>
<form class="" action="{% url 'calc:new' %}" method="post">
  {% csrf_token %}
  <input type="text" name="name" placeholder="{% trans 'Name your Calculation' %}"> </input>
  <input type="submit" name="{% trans 'Submit' %}"></input>
</form>
{% endblock %}
